.main {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  padding-left: 0;
  gap: 0.5rem;
}

.icon {
  vertical-align: bottom;
  margin-right: 5px;
}

.diaIlloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.geo,
.temps {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.temps {
  flex: 1 0 auto;
}

.geo {
  flex: 1 1 auto;
}
