.title {
  font-size: min(6.5vw, 40px);
  margin-right: 2rem;
}
.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background-color: #242424;
  padding: 1rem;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.placeHolder {
  margin-bottom: 80px;
}

.content {
  /*   display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between; */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 1rem;
  width: 100%;
  justify-items: center;
}

.contentWrapper {
  display: flex;
  justify-content: space-around;
}

.backButton {
  font-size: 20px;
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: #ffffff;
  }
}
