.title {
  font-size: min(6.5vw, 40px);
  margin-right: 2rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #242424;
  padding: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.placeHolder {
  margin-bottom: 80px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.backButton {
  font-size: 20px;
  display: flex;
  align-items: center;
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: #ffffff;
  }
}
