.header {
  font-size: 40px;
  margin-right: auto;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: ;
}
.temporada {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 4rem;
  border-radius: 10px;
  border: 1px solid gray;
  color: inherit;
}
.temporada:hover {
  color: inherit;
}
