.main {
  background-color: black;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.button,
.button * {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.button {
  background-color: #6364ff;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px;
}

.text {
  padding: 5px;
  margin: 10px;
}
