.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 10px;
  border: 1px solid gray;
}
.titol {
  text-align: start;
  font-size: 1.2rem;
  width: 360px;
}
.detalls {
  display: flex;
}

.backButton {
  font-size: min(4vw, 20px);
}

.icon {
  vertical-align: bottom;
  margin-right: 5px;
}

img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.imatge {
  padding: 0px;
}

.titol,
.titol:hover {
  color: inherit;
}
