.title {
  font-size: min(5.8vw, 40px);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 2rem;
}
.actuacio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid gray;
}
.nomDiada {
  text-align: start;
}
.backButton {
  font-size: min(4vw, 20px);
}
